# Web Frameworks
fastapi
uvicorn
gunicorn

# Database & Cloud
pymongo[srv]
langchain-mongodb
langchain-google-genai

# Shared Utilities
pydantic
python-multipart
pyjwt
requests
dateparser
portalocker
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

# File Processing (Only if needed)
pypdf
pdfplumber
python-docx
pandas